/* BREAKPOINT */
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$extra-large-desktop: 1400px;


//  map holding breakpoint values
$breakpoints: (
        phone: 576px,
        tablet: 768px,
        desktop: 992px,
        large-desktop: 1200px,
        extra-large-desktop: 1400px
);

@mixin media($keys...) {
  @each $key in $keys {
    @if ($key == phone) {
      @include phone {
        @content
      }
    } @else if ($key == tablet) {
      @include tablet {
        @content
      }
    } @else if ($key == desktop) {
      @include desktop {
        @content
      }
    } @else if ($key == large-desktop) {
      @include large-desktop {
        @content
      }
    } @else if ($key == extra-large-desktop) {
      @include extra-large-desktop {
        @content
      }
    }
  }
}

@mixin phone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $phone) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $desktop) and (max-width: $large-desktop) {
    @content;
  }
}

@mixin extra-large-desktop {
  @media screen and (min-width: $large-desktop) and (max-width: $extra-large-desktop) {
    @content;
  }
}

@mixin xxl-desktop {
  @media screen and (min-width: $extra-large-desktop) {
    @content;
  }
}

